<template>
    <div class="main-content-container container-fluid px-4">
        <!-- Page Header -->
        <div class="page-header row no-gutters py-4">
            <div class="col-12 col-sm-4 text-center text-sm-left mb-4 mb-sm-0">
                <span class="text-uppercase page-subtitle">Balance Sheet</span>
                <h3 class="page-title">Balance Sheet Close</h3>
            </div>
        </div>
        <!-- End Page Header -->
        <!-- Default Light Table -->
        <div class="row">
            <div class="col">
                <div class="card card-small mb-4">
                    <div class="card-body p-0 pb-3 text-center">
                        <div class="row p-3">
                            <div class="col-7">
                                <div class="row">
                                    <div class="col-4 text-right">Start Date</div>
                                    <div class="form-group col-md-4">
                                        <input class="form-control" type="text" v-model="form.start_date" readonly/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4 text-right">End Date</div>
                                    <div class="form-group col-md-4">
                                        <input class="form-control" type="text" v-model="form.end_date" readonly/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="row">
                                    <div class="col-6 text-right">Balance Sheet No.</div>
                                    <div class="col-6">
                                        <input type="text" v-model="form.bs_no" class="form-control"
                                               name="purchase_code"
                                               value="" readonly required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="text-left m-2 net_income_text"></p>
                        <table class="table">
                            <tr v-for="(balance_sheet, k) in balance_sheets" :key="k">
                                <td scope="row" class="trashIconContainer">
                                    <button class="btn btn-light p-1 mt-1" @click="deleteRow(k, balance_sheet)">
                                        <i class="material-icons" style="font-size:16px;color:red">delete</i>
                                    </button>
                                </td>
                                <td>
                                    <select class="form-control" @change="changeDepartment(balance_sheet)"
                                            v-model="balance_sheet.department_id" name="department_id">
                                        <option value="" selected="" disabled>Choose Department</option>
                                        <option v-for="department in departments"
                                                v-bind:value="department.id">{{department.name}}
                                        </option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-control" @change="changeIncome(balance_sheet)"
                                            v-model="balance_sheet.income_source_id" name="income_source_id">
                                        <option value="" selected="" disabled>Choose Income Source</option>
                                        <option v-for="income in balance_sheet.incomes"
                                                v-bind:value="income.id">{{income.income_source}}
                                        </option>
                                    </select>
                                </td>
                                <td>
                                    <input class="form-control" type="number" @keyup="changeAmount(balance_sheet)"
                                           v-model="balance_sheet.amount"/>
                                </td>
                                <td>
                                    <input class="form-control" type="number" v-model="balance_sheet.credit_amount"
                                           readonly/>
                                </td>
                                <td>
                                    <input class="form-control" type="number" v-model="balance_sheet.balance" readonly/>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <button type='button' class="btn btn-info float-left ml-3" @click="addNewRow">
                                        <i class="fas fa-plus-circle"></i>
                                        Add
                                    </button>
                                </td>
                                <td>
                                    Total Debit TK. =
                                </td>
                                <td>
                                    <p class="text_center">{{this.debit_tk}}</p>
                                </td>
                                <td>
                                    Net Income =
                                </td>
                                <td>
                                    <p class="text_center">{{this.net_income}}</p>
                                </td>
                            </tr>
                        </table>
                        <button type='button' class="btn btn-success float-right mr-3" @click='balanceClose'>
                            <i class="material-icons">
                                assignment_turned_in
                            </i>
                            Check Balance Sheet
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Default Light Table -->
        <!-- Modal -->
        <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <h4 class="text-center">Army Golf Club<br> Balance Sheet</h4>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead class="text-center">
                                <tr>
                                    <th>Asset</th>
                                    <th width="20%">Taka</th>
                                    <th>Liabilities</th>
                                    <th width="20%">Taka</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(payment, k) in payments" :key="k">
                                    <td>{{payment.name}}</td>
                                    <td>{{payment.amount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")}}</td>
                                    <td>{{payment.name}}</td>
                                    <td>{{payment.previous_amount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")}}
                                    </td>
                                </tr>
                                <tr v-for="(income_source_names, k) in income_source_name" :key="k">
                                    <td></td>
                                    <td></td>
                                    <td>{{income_source_names.name}}</td>
                                    <td>{{income_source_names.amount.toString().replace(/\B(?=(\d{3})+(?!\d))/g,
                                        ",")}}
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td></td>
                                    <td><h5 class="font-weight-bold">
                                        {{this.asset_tk.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")}}</h5></td>
                                    <td></td>
                                    <td><h5 class="font-weight-bold">
                                        {{this.liabilities_tk.toString().replace(/\B(?=(\d{3})+(?!\d))/g,
                                        ",")}}</h5></td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button type="submit" :disabled="form.busy" @click="submitData()" class="btn btn-primary">
                            Close Balance sheet
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                departments: {},
                payments: {},
                debit_tk: '',
                asset_tk: 0,
                liabilities_tk: 0,
                income_source_name: {},
                net_income: '',
                total_debit_tk: '',
                total_net_income: '',
                form: new Form({
                    bs_no: '',
                    start_date: '',
                    end_date: '',
                    balance_sheets: {}
                }),
                balance_sheets: [{
                    department_id: '',
                    incomes: {},
                    income_source_id: '',
                    amount: '',
                    credit_amount: 0,
                    balance: 0,
                }],
                options: {
                    format: 'DD/MM/YYYY',
                    useCurrent: false,
                }
            }
        },
        methods: {
            loadBalanceSheet() {
                let loader = this.$loading.show({
                    container: this.fullPage ? null : this.$refs.formContainer,
                    canCancel: true,
                    onCancel: this.onCancel,
                });
                axios.get('api/department-all').then(({data}) => (this.departments = data));
                axios.get('api/payment-all').then(({data}) => (this.payments = data));
                axios.get('api/balance-sheet-data')
                    .then(({data}) => {
                        this.form.bs_no = data.bs_no;
                        this.form.start_date = moment(data.start_date).format('DD/MM/YYYY');
                        this.incomeData()
                        loader.hide()
                    })
                    .catch(() => {
                        swal.fire(
                            'System Problem!',
                            'Try Again Later',
                            'warning'
                        )
                    });
                this.form.end_date = moment().format('DD/MM/YYYY');
            },
            incomeData() {
                this.form.post('api/balance-sheet-data')
                    .then(({data}) => {
                        this.total_net_income = data.profit;
                        this.total_debit_tk = data.debit;
                        if (data.profit == 0) {
                            $('.net_income_text').text('# Net Income Amount 0').css("color", "red");
                        } else if (data.profit < 0) {
                            $('.net_income_text').text('# Net Loss Amount = '
                                + data.profit.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
                                + '. Debit Amount = ' + data.debit.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + ' .').css("color", "red");
                        } else {
                            $('.net_income_text').text('# Net Income Amount = '
                                + data.profit.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
                                + '. Debit Amount = ' + data.debit.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + ' .').css("color", "green");
                        }
                    });
            },
            changeDate() {
                let loader = this.$loading.show({
                    container: this.fullPage ? null : this.$refs.formContainer,
                    canCancel: true,
                    onCancel: this.onCancel,
                });
                this.incomeData();
                this.balance_sheets = [];
                this.addNewRow();
                this.calculateTotal();
                loader.hide()
            },
            changeDepartment(balance_sheets) {
                axios.get('api/incomesource/' + balance_sheets.department_id).then(({data}) => (balance_sheets.incomes = data));
                balance_sheets.income_source_id = '';
                balance_sheets.credit_amount = 0;
                balance_sheets.balance = 0;
                this.calculateTotal();
            },
            changeIncome(balance_sheets) {
                let payload = {
                    department_id: balance_sheets.department_id,
                    income_source_id: balance_sheets.income_source_id,
                    start_date: this.form.start_date,
                    end_date: this.form.end_date,
                };
                axios({
                    url: 'api/income-source-amount',
                    method: 'post',
                    data: payload
                }).then((response) => {
                    balance_sheets.credit_amount = response.data;
                    balance_sheets.balance = balance_sheets.credit_amount - balance_sheets.amount;
                    this.calculateTotal();
                }).catch((error) => {
                    swal.fire(
                        'System Problem!',
                        'Try Again Later',
                        'warning'
                    )
                });
            },
            changeAmount(balance_sheets) {
                balance_sheets.balance = balance_sheets.credit_amount - balance_sheets.amount;
                this.calculateTotal();
            },
            calculateTotal() {
                this.debit_tk = this.balance_sheets.reduce(function (sum, product) {
                    var lineTotal = parseFloat(product.amount);
                    if (!isNaN(lineTotal)) {
                        return sum + lineTotal;
                    } else return 0;
                }, 0);
                this.net_income = this.balance_sheets.reduce(function (sum, product) {
                    var lineTotal = parseFloat(product.balance);
                    if (!isNaN(lineTotal)) {
                        return sum + lineTotal;
                    }
                }, 0);
            },
            addNewRow() {
                this.balance_sheets.push({
                    department_id: '',
                    incomes: {},
                    income_source_id: '',
                    amount: '',
                    credit_amount: 0,
                    balance: 0,
                });
            },
            deleteRow(index, balance_sheet) {
                let idx = this.balance_sheets.indexOf(balance_sheet);
                console.log(idx, index);
                if (idx > -1) {
                    this.balance_sheets.splice(idx, 1);
                }
            },
            balanceClose() {
                if (this.debit_tk !== this.total_debit_tk || this.net_income !== this.total_net_income) {
                    swal.fire(
                        'Wrong Information!',
                        'Debit balance and net income are not match.',
                        'warning'
                    )
                } else if (this.total_net_income <= 0) {
                    swal.fire(
                        'Wrong Information!',
                        'Net income has lowest amount.',
                        'warning'
                    )
                } else {
                    let loader = this.$loading.show({
                        container: this.fullPage ? null : this.$refs.formContainer,
                        canCancel: true,
                        onCancel: this.onCancel,
                    });
                    let balance_sheet = this.balance_sheets;
                    var income_source_name = [];
                    for (let i = 0; i < balance_sheet.length; i++) {
                        let incomes = balance_sheet[i].incomes;
                        for (let k = 0; k < incomes.length; k++) {
                            if (incomes[k].id === balance_sheet[i].income_source_id && balance_sheet[i].balance !== 0) {
                                income_source_name.push({
                                    name: incomes[k].income_source,
                                    amount: balance_sheet[i].balance
                                });
                            }
                        }
                    }
                    this.income_source_name = income_source_name;
                    this.balanceTotal();
                    $('#addNew').modal('show');
                    loader.hide()
                }
            },
            balanceTotal() {
                this.asset_tk = this.payments.reduce(function (sum, product) {
                    var lineTotal = parseFloat(product.amount);
                    if (!isNaN(lineTotal)) {
                        return sum + lineTotal;
                    } else return 0;
                }, 0);
                this.liabilities_tk = this.payments.reduce(function (sum, product) {
                    var lineTotal = parseFloat(product.previous_amount);
                    if (!isNaN(lineTotal)) {
                        return sum + lineTotal;
                    } else return 0;
                }, 0) + this.net_income;
            },
            submitData() {
                this.form.balance_sheets = this.balance_sheets;
                this.form.post('api/balance-sheet-store')
                    .then((data) => {
                        if (data.data == 'ok') {
                            this.$router.push('/');
                        } else if (data.data == 'fail') {
                            swal.fire(
                                'Warning!',
                                'Something wrong, Try Again Later',
                                'warning'
                            )
                        }
                        $('#addNew').modal('hide');
                    })
                    .catch(() => {
                        swal.fire(
                            'System Problem!',
                            'Try Again Later',
                            'warning'
                        )
                    })

            },
            onCancel() {
                console.log('User cancelled the loader.')
            }
        },
        created() {
            this.loadBalanceSheet();
        }
    }
</script>

<style scoped>

</style>
