<template>
    <div class="main-content-container container-fluid px-4">
        <!-- Page Header -->
        <div class="page-header row no-gutters py-4">
            <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <span class="text-uppercase page-subtitle">Dashboard</span>
                <h3 class="page-title">Cental Account</h3>
            </div>
        </div>
        <!-- End Page Header -->
        <!-- Small Stats Blocks -->
        <div class="row">
            <div class="col-lg-2dot4 col-md-6 col-sm-6 mb-4" @click="goToUrl('department')">
                <div class="stats-small stats-small--1 card card-small" style="min-height: 5.7rem!important;">
                    <div class="card-body p-0 d-flex">
                        <div class="d-flex flex-column m-auto">
                            <div class="stats-small__data text-center">
                                <h6 class="stats-small__value count my-3">
                                    <span class="text-uppercase" style="font-size: 15px">Department</span>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2dot4 col-md-6 col-sm-6 mb-4" @click="goToUrl('income-source')">
                <div class="stats-small stats-small--1 card card-small" style="min-height: 5.7rem!important;">
                    <div class="card-body p-0 d-flex">
                        <div class="d-flex flex-column m-auto">
                            <div class="stats-small__data text-center">
                                <h6 class="stats-small__value count my-3">
                                    <span class="text-uppercase" style="font-size: 15px">Source of Income</span>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2dot4 col-md-6 col-sm-6 mb-4" @click="goToUrl('expenditure')">
                <div class="stats-small stats-small--1 card card-small" style="min-height: 5.7rem!important;">
                    <div class="card-body p-0 d-flex">
                        <div class="d-flex flex-column m-auto">
                            <div class="stats-small__data text-center">
                                <h6 class="stats-small__value count my-3">
                                    <span class="text-uppercase" style="font-size: 15px">Expenditure Head</span>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2dot4 col-md-6 col-sm-6 mb-4" @click="goToUrl('payment')">
                <div class="stats-small stats-small--1 card card-small" style="min-height: 5.7rem!important;">
                    <div class="card-body p-0 d-flex">
                        <div class="d-flex flex-column m-auto">
                            <div class="stats-small__data text-center">
                                <h6 class="stats-small__value count my-3">
                                    <span class="text-uppercase" style="font-size: 15px">Payment System</span>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2dot4 col-md-6 col-sm-6 mb-4" @click="goToUrl('credit')">
                <div class="stats-small stats-small--1 card card-small" style="min-height: 5.7rem!important;">
                    <div class="card-body p-0 d-flex">
                        <div class="d-flex flex-column m-auto">
                            <div class="stats-small__data text-center">
                                <h6 class="stats-small__value count my-3">
                                    <span class="text-uppercase" style="font-size: 15px">Credit Entry</span>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2dot4 col-md-6 col-sm-6 mb-4" @click="goToUrl('debit')">
                <div class="stats-small stats-small--1 card card-small" style="min-height: 5.7rem!important;">
                    <div class="card-body p-0 d-flex">
                        <div class="d-flex flex-column m-auto">
                            <div class="stats-small__data text-center">
                                <h6 class="stats-small__value count my-3">
                                    <span class="text-uppercase" style="font-size: 15px">Debit Entry</span>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2dot4 col-md-6 col-sm-6 mb-4" @click="goToUrl('credit-report')">
                <div class="stats-small stats-small--1 card card-small" style="min-height: 5.7rem!important;">
                    <div class="card-body p-0 d-flex">
                        <div class="d-flex flex-column m-auto">
                            <div class="stats-small__data text-center">
                                <h6 class="stats-small__value count my-3">
                                    <span class="text-uppercase" style="font-size: 15px">Credit Report</span>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2dot4 col-md-6 col-sm-6 mb-4" @click="goToUrl('debit-report')">
                <div class="stats-small stats-small--1 card card-small" style="min-height: 5.7rem!important;">
                    <div class="card-body p-0 d-flex">
                        <div class="d-flex flex-column m-auto">
                            <div class="stats-small__data text-center">
                                <h6 class="stats-small__value count my-3">
                                    <span class="text-uppercase" style="font-size: 15px">Debit Report</span>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2dot4 col-md-6 col-sm-6 mb-4" @click="goToUrl('payment-report')">
                <div class="stats-small stats-small--1 card card-small" style="min-height: 5.7rem!important;">
                    <div class="card-body p-0 d-flex">
                        <div class="d-flex flex-column m-auto">
                            <div class="stats-small__data text-center">
                                <h6 class="stats-small__value count my-3">
                                    <span class="text-uppercase" style="font-size: 15px">Payment Report</span>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2dot4 col-md-6 col-sm-6 mb-4" @click="goToUrl('balance-sheet')">
                <div class="stats-small stats-small--1 card card-small" style="min-height: 5.7rem!important;">
                    <div class="card-body p-0 d-flex">
                        <div class="d-flex flex-column m-auto">
                            <div class="stats-small__data text-center">
                                <h6 class="stats-small__value count my-3">
                                    <span class="text-uppercase" style="font-size: 15px">Income Statement</span>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2dot4 col-md-6 col-sm-6 mb-4" @click="goToUrl('balance-sheet-close')">
                <div class="stats-small stats-small--1 card card-small" style="min-height: 5.7rem!important;">
                    <div class="card-body p-0 d-flex">
                        <div class="d-flex flex-column m-auto">
                            <div class="stats-small__data text-center">
                                <h6 class="stats-small__value count my-3">
                                    <span class="text-uppercase" style="font-size: 15px">Close Balance Sheet</span>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2dot4 col-md-6 col-sm-6 mb-4" @click="goToUrl('balance-sheet-report')">
                <div class="stats-small stats-small--1 card card-small" style="min-height: 5.7rem!important;">
                    <div class="card-body p-0 d-flex">
                        <div class="d-flex flex-column m-auto">
                            <div class="stats-small__data text-center">
                                <h6 class="stats-small__value count my-3">
                                    <span class="text-uppercase" style="font-size: 15px">Balance Sheet</span>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {

            }
        },
        methods: {
            goToUrl: function (e) {
                this.$router.push(e);
            }
        },
        created() {

        },
    }
</script>
<style>
    .col-lg-2dot4 {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        cursor: pointer;
    }

    @media (min-width: 960px) {
        .col-lg-2dot4 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 20%;
            flex: 0 0 20%;
            max-width: 20%;
        }
    }
</style>
